# Copy this file to settings.py and fill in/edit data

# To create app key, go to https://www.dropbox.com/developers/apps/create
# (select "Dropbox API app", "Files and ...", "All file types")
DROPBOX_APP_KEY = ""
DROPBOX_APP_SECRET = ""

# Location within Dropbox where OsmAnd's "avnotes" folder stored
DROPBOX_AVNOTES_DIR = "/osmand/avnotes"

# Preview image dimensions as requested from Dropbox. Only following
# values are valid: 64x64, 128x128, 320x320, 640x480, 1024x768, 2048x1536
DROPBOX_PREVIEW_SIZE = "640x480"

# If both are None, preview image will be shown in original size (which is
# DROPBOX_PREVIEW_SIZE for Dropbox images). If one is set (to numeric value),
# image will be scaled for corresponding dimension to match the value. If
# both are set, image will be scaled (possibly, non-proportionally) to this
# dimensions.
PREVIEW_WIDTH = None
PREVIEW_HEIGHT = None

# Icon to use for track, especially visible in tour mode. Default is standard
# Google Earth arrow.
TRACK_ICON = "http://earth.google.com/images/kml-icons/track-directional/track-0.png"
# Motorcycle icon. Not really suitable for tour mode, as sometime it will appear
# upside done, so that can be funny too.
#TRACK_ICON = "http://maps.google.com/mapfiles/kml/shapes/motorcycling.png"
